/* 分类样式 */ 
// 引包
@import 'base.less';
/* 主体样式 */
#main{
    display: flex;
    .category-left{
        width: .8rem;
        .mui-table-view-cell{
            &::after{
                left: 0;
            }
            &.active{
                background-color: #ccc;
            }
        }
    }
    .category-right{
        flex: 1;
        padding: .1rem .1rem 0 .1rem;
        a{
            display: block;
            text-align: center;
            img{
                width: 100%;
            }
            p{
                background-color: #fff;
            }
        }
    }
}